{% extends 'budget_app/base.html' %}

{% block page_content %}

<button type="button" class="btn btn-link">
<a href="{% url 'budget_app:new_expense' %}">
      Add expense
</a>
</button>

<a class="btn btn-primary" href="{% url 'budget_app:new_transaction' %}">
	New Transaction
</a>

<br>

${{ unbudgeted|floatformat:2 }}


		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Allocated</th>
		      <th scope="col">Category</th>
		      <th scope="col">Disbursed</th>
		      <th scope="col">Remaining</th>
    		    </tr>
		  </thead>
		{% for expense in expenses %}
		  <tbody>
		    <tr>
			    <td>{{ expense.allocated }}</td>
			    <td><a href="{% url 'budget_app:expense_detail' expense.id %}">{{ expense.category }}</a></th>
			    <td>{{ expense.disbursed }}</td>
			    <td>{{ expense.remaining }}</td>
		    </tr>
		  </tbody>
	        {% endfor %}
		</table>	
{% endblock %}

