{% extends 'budget_app/base.html' %}

{% block page_content %}

<button type="button" class="btn btn-link">
<a href="{% url 'budget_app:new_expense' %}">
      Add expense
</a>
</button>

<a class="btn btn-primary" href="{% url 'budget_app:new_transaction' %}">
	New Transaction
</a>




	{% for expense in expenses %}
		<ul>
			<p>{{ expense.exp_type }}</p>
			<time>purchased: {{ expense.exp_date }}</time>
			<p>amount: {{ expense.amount }}</p>
			<form action="{% url 'budget_app:expense_del' pk=expense.pk %}" method="post">
				{% csrf_token %}
				<input type="submit" value="delete expense">
			</form>
		</ul>
		<br>
	{% endfor %}
{% endblock %}

